/*-----------------------------------------------------------
    SCROLLBAR STYLES
-----------------------------------------------------------*/

*::-webkit-scrollbar-thumb {
    background: var(--bright-pink);
}

*::-webkit-scrollbar-track {
    background: var(--light-pink);
}

*::-webkit-scrollbar {
    max-width: 16px;
    max-height: 16px;
}

* {
    scrollbar-width: auto;
    scrollbar-color: var(--bright-pink) var(--light-pink);
}

/*-----------------------------------------------------------
    MAIN LAYOUT STYLES
-----------------------------------------------------------*/

body {
    font-family: var(--paragraph-text);
    color: var(--pink-darker6);
    font-size: 1rem;
    background-color: var(--pink-main);
}

h1,
h2,
h3 {
    font-family: var(--heading-text);
}

p {
    line-height: 2rem;
    font-weight: 500;
}

a,
a:visited {
    color: var(--purple-darker2);
    transition: all 0.3s ease;
    text-decoration: none;
}

a:hover,
a:focus {
    color: var(--purple-darker);
    text-decoration: underline;
}

a:focus {
    outline: 1px dotted var(--purple-darker2);
}

a:active {
    color: var(--purple-darker2);
}

.site-wrapper {
    margin: 0 auto;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    max-width: 120rem;
}

/*-----------------------------------------------------------
    BACK TO TOP STYLES
-----------------------------------------------------------*/

@keyframes bounce-up {
    0% {
        top: 0;
    }

    50% {
        top: -0.5rem;
    }

    100% {
        top: 0;
    }
}

.back-to-top a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 8rem;
    height: 5rem;
    margin: 0 auto;
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--black-ish);
    border: 1px solid transparent;
    font-size: 0.75rem;
    padding: 0;
}

.back-to-top a p {
    font-family: var(--alternate-text2);
    font-weight: 400;
    letter-spacing: 0;
    padding: 0;
    margin: 0;
}

.back-to-top a:hover {
    color: var(--pink-mid4);
    border: 1px solid var(--bright-pink);
    transition: all 0.4s ease;
}

.back-to-top a:hover svg {
    fill: var(--pink-mid4);
}

.back-to-top svg {
    fill: var(--black-ish);
    animation: bounce-up 3s infinite;
    position: relative;
    transition: 0.4s ease;
}
