/* */ /* */ /* */ /* */ /* Main Layout */ /* */ /* */ /* */ /* */

body {
    font-family: var(--paragraph-text);
    color: var(--pink-darker6);
    font-size: 1rem;
    background-color: var(--brand-pink);
}

/*-----------------------------------------------------------
    SCROLLBAR STYLES
-----------------------------------------------------------*/

/* https://developer.chrome.com/docs/css-ui/scrollbar-styling */
/* Legacy Browsers */
*::-webkit-scrollbar-thumb {
    background: var(--bright-pink);
}

*::-webkit-scrollbar-track {
    background: var(--light-pink);
}

*::-webkit-scrollbar {
    max-width: 16px;
    max-height: 16px;
}

/* Modern Browsers that have scrollbar styling support. */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--bright-pink) var(--light-pink);
}

h1,
h2,
h3 {
    font-family: var(--heading-text);
}

p {
    line-height: 2rem;
    font-weight: 500;
}

a,
a:visited {
    color: var(--purple-darker3);
    transition: all 0.3s ease;
    text-decoration: none;
}

a:hover,
a:focus {
    color: var(--purple-darker);
    text-decoration: underline;
}

a:focus {
    outline: 1px dotted var(--purple-darker2);
}

a:active {
    color: var(--purple-darker2);
}

.site-wrapper {
    background-color: var(--pink-lighter5);
    max-width: 120rem;
    margin: 0 auto;
    border: 1px solid var(--purple-darker2);
}
