/* */ /* */ /* */ /* */ /* Index Page - Above Fold */ /* */ /* */ /* */ /* */

#index-site-main {
    margin-top: -6rem;
}

.index-page-header h1 {
    scroll-margin-top: 5rem;
    font-family: var(--heading-text);
    color: var(--black-ish);
    font-size: clamp(2rem, 4vw, 4rem);
    margin: 0 4rem;
    padding-top: 12rem;
    text-shadow: var(--text-shadow3);
    text-align: right;
    max-width: 100%;
    letter-spacing: 0.25rem;
}

.index-page-header h1 span.h1-part3 {
    font-family: var(--large-heading-text);
    font-size: clamp(4rem, 6vw, 6rem);
    color: var(--pink-mid4);
    animation: text-shimmer 4s infinite;
}

@keyframes text-shimmer {
    0% {
        color: var(--bright-pink);
    }

    50% {
        color: var(--pink-darker2);
    }

    100% {
        color: var(--bright-pink);
    }
}

.index-page-header h2 {
    margin: 1rem auto;
    padding: 1rem;
    display: block;
    width: 100%;
    text-align: right;
    font-family: var(--paragraph-text);
    letter-spacing: 0.5rem;
    color: var(--black-ish);
    font-weight: 300;
    font-size: clamp(1.25rem, 2vw, 2rem);
    line-height: 2rem;
    max-width: 100%;
    background-color: var(--transparent-white);
    border-radius: 0.5rem;
}

.index-top-wrapper {
    background-color: var(--transparent-white);
    background-image: url(../images/index-above-fold2.jpg);
    background-size: cover;
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: 1rem solid var(--white);
    height: 100dvh;
}

/*

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

*/

.arrows {
    width: 6.25rem;
    height: 6.25rem;
    position: relative;
    left: 50%;
    transition: all ease 0.3s;
}

.arrows path {
    stroke: var(--bright-pink);
    fill: transparent;
    stroke-width: 0.25rem;
    animation: arrow 3s infinite;
    -webkit-animation: arrow 3s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

@media (min-width: 35em) {
    .index-page-header h1 {
        padding-top: 15rem;
    }
}

@media (min-width: 80em) {
    #index-site-main {
        margin-top: -8rem;
    }

    .index-page-header h1 {
        margin-bottom: -1rem;
        margin-top: 8rem;
    }
    .index-page-header h2 {
        padding: 2rem;
    }

    .arrows {
        top: 1rem;
    }

    .above-fold-content .flower-img svg {
        margin-top: -24rem;
    }
}

@media (min-width: 100em) {
    .index-page-header h1 {
        padding-top: 20rem;
    }

    .above-fold-content .flower-img svg {
        margin-top: -28rem;
    }
}

/* */ /* */ /* */ /* */ /* Index Page - Below Fold */ /* */ /* */ /* */ /* */

.below-fold-content {
    height: 100dvh;
    border: 1rem solid var(--white);
    background-color: var(--transparent-purple);
    background-image: url(../images/below-fold.jpg);
    background-size: cover;
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.below-fold-content h2 {
    font-family: var(--heading-text);
    color: var(--light-pink);
    font-size: clamp(4rem, 8vw, 8rem);
    margin: 2rem 1rem 0;
    text-shadow: var(--text-shadow3);
    text-align: right;
    padding: 1rem;
    letter-spacing: 0.5rem;
}

.below-fold-content .p-container {
    background-color: var(--transparent-pink);
    max-width: 40rem;
    font-weight: 700;
    margin: -1rem 2rem 2rem;
    border-radius: 0.25rem;
    box-shadow: -1rem -1rem 0px 0px var(--transparent-white);
}

.below-fold-content p {
    padding: 4rem;
    margin: 0;
    font-size: 1.25rem;
    line-height: 2.5rem;
}

@media (min-width: 100em) {
    @keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-30px);
        }
        60% {
            transform: translateY(-15px);
        }
    }
}

/* */ /* */ /* */ /* */ /* Index Page - Skills List & Sort */ /* */ /* */ /* */ /* */

.skills-list {
    scroll-margin-top: 5rem;
    border: 1rem solid var(--white);
    background-color: var(--transparent-pink);
    background-image: url(../images/skills-section.jpeg);
    background-size: cover;
    background-blend-mode: soft-light;
    margin: 0 auto;
    max-width: 120rem;
    height: 100dvh;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    padding: 1rem;
    margin-top: 10rem;
    margin-bottom: -1rem;
}

.filter-buttons button {
    font-weight: 600;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    background-color: var(--purple-darker4);
    color: var(--white);
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
}

.filter-buttons button:hover,
.filter-buttons .active {
    background-color: var(--pink-lighter2);
    color: var(--purple-darker4);
}

.skills-list h2 {
    font-family: var(--heading-text);
    color: var(--bright-pink);
    font-size: clamp(6rem, 8vw, 8rem);
    margin: 0 auto;
    text-shadow: var(--text-shadow3);
    text-align: center;
    padding: 1rem;
    background-color: var(--transparent-white);
    letter-spacing: 0.25rem;
}

.skills-list ul {
    display: grid;
    --auto-grid-min-size: 10rem;
    grid-template-columns: repeat(
        auto-fill,
        minmax(var(--auto-grid-min-size), 1fr)
    );
    grid-gap: 1rem;
    justify-content: center;
    align-content: center;
    padding: 2rem 6rem;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23FDC8DB'/%3E%3Cstop offset='1' stop-color='%23FDC8DB'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='15' height='15' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='7.5' cy='7.5' r='7.5'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.2'/%3E%3C/svg%3E");
    border: 2px dashed var(--white);
    min-height: 18rem;
    margin-bottom: 0;
}

.skills-list li {
    font-weight: 500;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-color: var(--pink-lighter5);
    border-radius: 1rem;
    padding: 0.25rem;
    box-shadow: 4px 4px 0px 0px var(--pink-darker), 5px 5px 4px 0px #987eb2;
    max-height: 4rem;
}

.skills-list svg {
    height: 3rem;
    width: 3rem;
    padding: 0 1rem 0 0;
}

.skills-top-svg {
    display: flex;
    justify-content: center;
}

.skills-top-svg svg {
    width: 90%;
    height: auto;
}

.skills-bottom-svg {
    background-color: var(--brand-pink);
    border-top: 5px solid var(--brand-pink);
    border-bottom: 5px solid var(--brand-pink);
}

.skills-bottom-svg svg {
    display: none;
}

@media (min-width: 40em) {
    .skills-list svg:first-of-type {
        max-width: 20rem;
    }

    .skills-top-svg svg {
        max-width: 50%;
        height: auto;
    }
}

@media (min-width: 100em) {
    .skills-bottom-svg svg.the-down-button {
        fill: var(--purple-darker2);
        width: 10rem;
        height: 10rem;
        margin: -10rem auto 0;
        text-align: center;
        display: block;
        transition: all 0.4s ease;
        animation: bounce 2s infinite;
    }

    @keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-30px);
        }
        60% {
            transform: translateY(-15px);
        }
    }

    .skills-bottom-svg svg.the-down-button:hover {
        fill: var(--purple-darker);
        animation: none;
    }
}

/* */ /* */ /* */ /* */ /* Index Page - Bottom Explore Part */ /* */ /* */ /* */ /* */

.bottom-content {
    scroll-margin-top: 6rem;
    background-color: #fee9f1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='129.7' height='389' viewBox='0 0 50 150'%3E%3Cg stroke='%23987EB2' stroke-width='4.5' %3E%3Cpolygon fill='%23FDC8DB' points='80 -30 -30 -30 -30 50 25 100 80 50'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: repeat-x;
    background-position: top center;
    max-width: 120rem;
    margin: 0 auto;
}

.bottom-content-wrapper {
    margin-top: 5rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.bottom-content article {
    background-color: var(--pink-lighter);
    max-width: 80%;
    border-radius: 1rem;
    margin: 1rem auto;
    padding: 0.75rem;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.1);
}

.bottom-content-top {
    height: 12rem;
    display: flex;
    align-items: center;
}

.bottom-content-top h2 {
    font-family: var(--heading-text);
    color: var(--purple-darker2);
    font-size: clamp(4rem, 6vw, 6rem);
    margin: 0 auto;
    text-shadow: var(--text-shadow);
    text-align: center;
    padding: 1rem;
}

.card-text-content {
    background-color: var(--brand-pink);
    border-radius: 0 0 0.75rem 0.75rem;
    padding-bottom: 1rem;
    border-bottom: 2px dashed var(--white);
    border-left: 2px dashed var(--white);
    border-right: 2px dashed var(--white);
}

.bottom-content h3 {
    background: linear-gradient(
        to right,
        var(--purple-darker3) 50%,
        var(--pink-lighter5) 50%
    );
    background-size: 250% 150%;
    background-position: right bottom;
    color: var(--pink-darker5);
    padding: 0.75rem 1rem;
    border-radius: 1rem;
    width: 60%;
    display: flex;
    justify-content: center;
    margin: 2rem auto 1rem;
    transition: all 0.4s ease-out;
    font-size: 1rem;
}

.bottom-content p {
    border-radius: 0.75rem;
    padding: 0 1rem 1rem;
    text-align: center;
    line-height: 0.5rem;
    font-size: 0.8rem;
}

.bottom-content h3:hover,
.bottom-content a:hover {
    background-position: left bottom;
    color: var(--pink-lighter5);
}

.bottom-content a {
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: var(--pink-darker5);
    display: flex;
    width: 100%;
    justify-content: center;
    transition: all 0.5s ease-out;
}

.bottom-content svg {
    max-width: 100%;
    background-color: var(--pink-lighter4);
    border-radius: 0.5rem 0.5rem 0 0;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-top: 2px dashed var(--white);
    border-left: 2px dashed var(--white);
    border-right: 2px dashed var(--white);
}

.bottom-content svg:last-child {
    box-shadow: none;
    border: none;
    background: none;
}

.overlay-card {
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--transparent-dark-purple);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: 0.3s ease;
    border-radius: 0.5rem 0.5rem 0 0;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 95%;
}

.overlay-text p.overlay-p {
    font-family: var(--large-heading-text);
    color: var(--purple-lighter);
    font-size: clamp(3rem, 4vw, 4rem);
    line-height: 4rem;
    margin: 0 auto;
    text-shadow: var(--text-shadow2);
    text-align: center;
    background: none;
    box-shadow: none;
}

.overlay-card:hover .overlay {
    transform: scale(1);
}

@media (min-width: 31.25em) {
    .bottom-content article {
        margin-top: 2rem;
    }
}

@media (min-width: 68.75em) {
    .main-card {
        max-width: 33%;
    }
}

@media (min-width: 80em) {
    .bottom-content h2 {
        text-shadow: var(--text-shadow);
        padding: 3rem;
    }

    .bottom-content article {
        margin-top: 2rem;
    }

    .bottom-content-wrapper {
        gap: 0;
    }

    .bottom-content svg {
        max-width: 28rem;
    }

    .bottom-content h3 {
        font-size: 1.1rem;
    }

    .bottom-content p {
        font-size: 0.95rem;
    }
}
