/* */ /* */ /* */ /* */ /* Index Page - Above Fold */ /* */ /* */ /* */ /* */

#index-site-main {
    margin-top: -6rem;
}

.index-page-header {
    background-color: var(--pink-lighter2);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3000 1800'%3E%3Cdefs%3E%3Cpath id='a' fill='%23fee9f1' fill-opacity='0.7' d='M4002.8.3C3620.4 14 3647 280.9 3371.4 340.6s-433.8-225-723.3-111.8-339.6 465.3-489.3 557.8c-149.7 92.5-562.5-20.8-728.1 120.4s-111.8 539.2-238.8 700.2-555.5 132.2-679.3 353.4c-123.9 221.2 108.6 547.6 38.2 762.1S48 3037.7 10.9 3286.3s307.8 453.1 316.8 713.7S-60.6 4385.1 8 4698.2s414.7 262.9 537.9 565.7c123.2 302.8-228 480.4-36 771s456.2 107.4 673 347 18.8 538 247.8 711.1c229 173.1 443.6-30.5 728.1 120.4s143.1 452.9 483 555.6 409.8-153.1 715.8-112c306 41.1 329.7 354.2 645.2 342.7s302.7-293.2 631.4-340.3c328.7-47.1 496 198.7 723.3 111.8s343.6-468.3 477.1-550.7c133.6-82.5 566.4 21.2 735.6-123.8 169.2-145 110.8-536.1 243.5-704 132.6-167.8 557.7-136.8 679.3-353.4s-99.6-579.6-38.2-762.1c61.4-182.5 507.3-353.9 539.9-563.6 32.6-209.7-311.2-506.8-316.8-713.7-5.7-206.8 358.7-509.6 319-701.6-39.7-192-470.7-390.9-537.3-562.3-66.6-171.4 163.6-571.8 36-771-127.6-199.2-504.6-179.3-661-345.2s-7-522.6-259.8-712.8-519-4.7-740.2-127.3-197.7-463.1-470.8-548.7-534.7 88.1-719.4 55S4290-10 4002.8.3z' /%3E%3C/defs%3E%3Cg transform='translate(0 144)' %3E%3Cg transform='translate(-2500 200) scale(1 .4)' stroke='%23FFF' stroke-width='1'%3E%3Cg%3E%3Cuse href='%23a' y='-100'%3E%3CanimateTransform attributeName='transform' type='rotate' repeatCount='indefinite' dur='52s' begin='-17s' values='0 4000 4000%3B360 4000 4000' %3E%3C/animateTransform%3E%3C/use%3E%3Cuse href='%23a' x='-100' y='150'%3E%3CanimateTransform attributeName='transform' type='rotate' repeatCount='indefinite' begin='-5s' dur='48.3s' values='0 4000 4000%3B360 4000 4000' %3E%3C/animateTransform%3E%3C/use%3E%3Cuse href='%23a' x='50' y='100'%3E%3CanimateTransform attributeName='transform' type='rotate' repeatCount='indefinite' dur='44.7s' values='0 4000 4000%3B360 4000 4000' %3E%3C/animateTransform%3E%3C/use%3E%3Cuse href='%23a' x='100'%3E%3CanimateTransform attributeName='transform' type='rotate' repeatCount='indefinite' begin='-14s' dur='40.9s' values='0 4000 4000%3B360 4000 4000' %3E%3C/animateTransform%3E%3C/use%3E%3CanimateTransform attributeName='transform' type='rotate' repeatCount='indefinite' dur='47s' values='360 4000 4000%3B0 4000 4000'%3E%3C/animateTransform%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
}

.index-top-wrapper {
    background-color: #fee9f1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3000 1800'%3E%3Cdefs%3E%3Cpath id='a' fill='%23e4d3f6' fill-opacity='.7' d='M4002.8.3C3620.4 14 3647 280.9 3371.4 340.6s-433.8-225-723.3-111.8-339.6 465.3-489.3 557.8c-149.7 92.5-562.5-20.8-728.1 120.4s-111.8 539.2-238.8 700.2-555.5 132.2-679.3 353.4c-123.9 221.2 108.6 547.6 38.2 762.1S48 3037.7 10.9 3286.3s307.8 453.1 316.8 713.7S-60.6 4385.1 8 4698.2s414.7 262.9 537.9 565.7c123.2 302.8-228 480.4-36 771s456.2 107.4 673 347 18.8 538 247.8 711.1c229 173.1 443.6-30.5 728.1 120.4s143.1 452.9 483 555.6 409.8-153.1 715.8-112c306 41.1 329.7 354.2 645.2 342.7s302.7-293.2 631.4-340.3c328.7-47.1 496 198.7 723.3 111.8s343.6-468.3 477.1-550.7c133.6-82.5 566.4 21.2 735.6-123.8 169.2-145 110.8-536.1 243.5-704 132.6-167.8 557.7-136.8 679.3-353.4s-99.6-579.6-38.2-762.1c61.4-182.5 507.3-353.9 539.9-563.6 32.6-209.7-311.2-506.8-316.8-713.7-5.7-206.8 358.7-509.6 319-701.6-39.7-192-470.7-390.9-537.3-562.3-66.6-171.4 163.6-571.8 36-771-127.6-199.2-504.6-179.3-661-345.2s-7-522.6-259.8-712.8-519-4.7-740.2-127.3-197.7-463.1-470.8-548.7-534.7 88.1-719.4 55S4290-10 4002.8.3z' /%3E%3C/defs%3E%3Cg transform='translate(0 948)' %3E%3Cg transform='translate(-2500 200) scale(1 .4)' stroke='%23FEE9F1' stroke-width='5.9'%3E%3Cg%3E%3Cuse href='%23a' y='-100'%3E%3CanimateTransform attributeName='transform' type='rotate' repeatCount='indefinite' dur='52s' begin='-17s' values='0 4000 4000%3B360 4000 4000' %3E%3C/animateTransform%3E%3C/use%3E%3Cuse href='%23a' x='-100' y='150'%3E%3CanimateTransform attributeName='transform' type='rotate' repeatCount='indefinite' begin='-5s' dur='48.3s' values='0 4000 4000%3B360 4000 4000' %3E%3C/animateTransform%3E%3C/use%3E%3Cuse href='%23a' x='50' y='100'%3E%3CanimateTransform attributeName='transform' type='rotate' repeatCount='indefinite' dur='44.7s' values='0 4000 4000%3B360 4000 4000' %3E%3C/animateTransform%3E%3C/use%3E%3Cuse href='%23a' x='100'%3E%3CanimateTransform attributeName='transform' type='rotate' repeatCount='indefinite' begin='-14s' dur='40.9s' values='0 4000 4000%3B360 4000 4000' %3E%3C/animateTransform%3E%3C/use%3E%3CanimateTransform attributeName='transform' type='rotate' repeatCount='indefinite' dur='45s' values='360 4000 4000%3B0 4000 4000'%3E%3C/animateTransform%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
}

.index-page-header h1 {
    scroll-margin-top: 5rem;
    font-family: var(--large-heading-text);
    color: var(--bright-pink);
    font-size: clamp(6rem, 10vw, 10rem);
    margin: 0 auto;
    padding-top: 12rem;
    text-shadow: var(--text-shadow3);
    text-align: center;
    max-width: 90%;
    letter-spacing: 0.25rem;
}

@keyframes shimmer {
    0% {
        background-position: top left;
    }
    100% {
        background-position: top right;
    }
}

.index-page-header h2 {
    margin: 2rem auto;
    padding: 1rem;
    display: block;
    width: 100%;
    text-align: center;
    font-family: var(--paragraph-text);
    letter-spacing: 0.5rem;
    color: var(--black-ish);
    font-weight: 600;
    font-size: clamp(1.25rem, 3vw, 3rem);
    line-height: 2rem;
    max-width: 90%;
}

.above-fold-wrapper {
    height: min(55rem, 100vh);
}

.above-fold-content .flower-img svg {
    width: 50%;
    height: auto;
    display: block;
    margin: -1rem auto 0;
    max-width: min(10rem, 15vh);
    animation: spin 120s infinite;
    filter: drop-shadow(1px 1px 1px var(--purple-darker4));
}

/*

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

*/

.arrows {
    width: 6.25rem;
    height: 6.25rem;
    margin-left: -1.875rem;
    position: relative;
    left: 50%;
    transition: all ease 0.3s;
}

.arrows path {
    stroke: var(--pink-dark2);
    fill: transparent;
    stroke-width: 0.25rem;
    animation: arrow 3s infinite;
    -webkit-animation: arrow 3s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

@media (min-width: 35em) {
    .index-page-header h1 {
        padding-top: 15rem;
    }
}

@media (min-width: 80em) {
    #index-site-main {
        margin-top: -8rem;
    }

    .index-page-header h1 {
        margin-bottom: -1rem;
        margin-top: 8rem;
    }
    .index-page-header h2 {
        letter-spacing: 1rem;
        font-weight: 600;
        text-shadow: 1px 1px 0px var(--black);
        padding: 2rem;
    }

    .arrows {
        top: -6rem;
    }

    .above-fold-content .flower-img svg {
        margin-top: -24rem;
    }
}

@media (min-width: 100em) {
    .index-page-header h1 {
        padding-top: 20rem;
    }

    .above-fold-content .flower-img svg {
        margin-top: -28rem;
    }
}

/* */ /* */ /* */ /* */ /* Index Page - Below Fold */ /* */ /* */ /* */ /* */

.shapedividers_com-986 {
    position: relative;
}
.shapedividers_com-986::before {
    content: "";
    font-family: "shape divider from ShapeDividers.com";
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    top: -1px;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: 100% 90px;
    background-position: 50% 0%;
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" fill="%23e4d3f6"/></svg>');
}

@media (min-width: 768px) {
    .shapedividers_com-986::before {
        background-size: 100% 90px;
        background-position: 50% 0%;
    }
}

@media (min-width: 1025px) {
    .shapedividers_com-986::before {
        bottom: -0.1vw;
        left: -0.1vw;
        right: -0.1vw;
        top: -0.1vw;
        background-size: 100% 151px;
        background-position: 50% 0%;
    }
}
@media (min-width: 2100px) {
    .shapedividers_com-986::before {
        background-size: 100% calc(2vw + 151px);
    }
}

.below-fold-content {
    overflow: clip;
    background-color: #fee9f1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 900'%3E%3Cg %3E%3Cpath fill='%23fdc8db' d='M2063.4 830c 1344.5 1289.9-3870.2 1289.9-2526.8 0c 163.5-156.9 620.9-240.3 933.9-264.2c 206.9-15.8 451.8-15.8 658.8 0c 313 23.9 770.5 107.3 934.1 264.2z'/%3E%3Cpath fill='%23fdc8db' d='M1843.9 793.6c 280.4 588.3-2367.8 588.3-2087.8 0c 60-126.1 442.8-201.9 731.6-224.9c 195.1-15.6 429.4-15.6 624.5 0c 288.7 23 671.6 98.8 731.7 224.9z'/%3E%3Cpath fill='%23fdc8db' d='M1665 764c-30 336.6-1699.8 336.6-1730 0c-9.1-101.7 306.7-170.2 570.9-192.2c 182.7-15.3 405.4-15.3 588.1 0c 264.1 22 580 90.5 571 192.2z'/%3E%3Cpath fill='%23fdc8db' d='M1516.4 739.3c-139.4 212.9-1293.2 212.9-1432.8 0c-53.7-82 202.4-143.4 441.6-164.4c 169.6-14.9 379.8-14.9 549.4 0c 239.2 21 495.4 82.4 441.8 164.4z'/%3E%3Cpath fill='%23fdc8db' d='M1390.9 718.5c-173.4 142.1-1008.4 142.1-1181.9 0c-80.5-65.9 122.9-120.4 336.9-140.2c 155.8-14.4 352.3-14.4 508 0c 214 19.8 417.5 74.3 337 140.2z'/%3E%3Cpath fill='%23fdc8db' d='M1283.7 700.7c-174.4 97.6-793 97.6-967.4 0c-94-52.6 63.2-100.3 251.7-118.7c 141.1-13.7 322.7-13.7 463.8 0c 188.5 18.4 345.8 66.1 251.9 118.7z'/%3E%3Cpath fill='%23fdc8db' d='M1190.9 685.3c-159.9 68-621.9 68-781.8 0c-97.6-41.5 19.8-82.6 182.7-99.4c 125.6-12.9 290.8-12.9 416.4 0c 162.8 16.8 280.2 57.9 182.7 99.4z'/%3E%3Cpath fill='%23fdc8db' d='M1109.8 671.9c-138.1 47.3-481.5 47.3-619.7 0c-93.7-32.1-10.1-66.7 127.1-81.7c 109.3-12 256.2-12 365.5 0c 137.1 15 220.7 49.6 127.1 81.7z'/%3E%3Cpath fill='%23fdc8db' d='M1038.4 660c-113.2 32.5-363.7 32.5-476.9 0c-84-24.1-28.4-52.3 83.1-65.3c 91.9-10.7 218.7-10.7 310.6 0c 111.5 13 167.2 41.2 83.2 65.3z'/%3E%3Cpath fill='%23fdc8db' d='M975 649.5c-87.1 21.5-263 21.5-350.1 0c-70.1-17.3-36.5-39.2 49.4-49.9c 73.5-9.2 177.9-9.2 251.3 0c 85.9 10.8 119.5 32.6 49.4 49.9z'/%3E%3Cpath fill='%23fdc8db' d='M918.3 640.1c-61.2 13.3-175.6 13.3-236.8 0c-52.8-11.4-35.8-27 24.8-35.2c 53.9-7.2 133.1-7.2 187.1 0c 60.6 8.2 77.7 23.8 24.9 35.2z'/%3E%3Cpath fill='%23fdc8db' d='M867.4 631.7c-35.9 6.9-99 6.9-134.9 0c-33.1-6.4-26.9-15.7 8.9-20.9c 33.3-4.8 83.9-4.8 117.2 0c 35.7 5.2 41.8 14.5 8.8 20.9z'/%3E%3Cpath fill='%23fdc8db' d='M821.3 624c-11.7 2-31.1 2-42.8 0c-11.4-2-10.7-5.1 1-6.9c 11.4-1.8 29.5-1.8 40.8 0c 11.7 1.8 12.4 4.9 1 6.9z'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    scroll-margin-top: 6.5rem;
}

.below-fold-content h2 {
    font-family: var(--large-heading-text);
    color: var(--purple-darker2);
    font-size: clamp(5rem, 10vw, 10rem);
    margin: 1rem auto 5.5rem;
    text-shadow: var(--text-shadow);
    text-align: center;
    padding: 1rem;
}

.below-fold-content .p-container {
    background-color: var(--pink-main);
    max-width: 85%;
    font-weight: 700;
    margin: -5rem auto 1.5rem;
    border-radius: 0.25rem;
    border: 1px solid var(--brand-purple);
    box-shadow: -12px -12px 0px 0px var(--purple-lighter3);
}

.below-fold-content p {
    padding: 2rem 1.5rem;
    margin: 1rem auto -3rem;
}

.below-fold-content p:last-of-type {
    margin-bottom: 1rem;
}

.below-fold-content p.intro-p {
    font-weight: 600;
    font-size: 1.5rem;
}

.below-fold-content svg {
    display: none;
}

.below-fold-content span {
    font-size: 1.25rem;
    color: var(--purple-darker4);
    font-family: var(--heading-text);
    font-weight: 900;
    text-shadow: var(--text-shadow2);
    padding: 0 0.25rem;
}

.below-fold-content img {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 0 auto -6rem;
}

.bottom-below-fold {
    height: 15rem;
    background-color: var(--brand-pink);
    background-color: var(--purple-lighter);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='66.7' height='200' viewBox='0 0 50 150'%3E%3Cg stroke='%23856F9C' stroke-width='4.5' %3E%3Cpolygon fill='%23FDC8DB' points='80 -30 -30 -30 -30 50 25 100 80 50'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: repeat-x;
    background-position: top center;
}

@media (min-width: 40em) {
    .below-fold-content .p-container {
        max-width: 40rem;
    }

    .below-fold-content img {
        max-width: 75%;
        height: auto;
    }
}

@media (min-width: 75em) {
    .below-fold-content {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .below-fold-content h2 {
        margin-bottom: 0;
        margin-top: 4rem;
    }

    .below-fold-content p {
        padding: 3rem 2.5rem 1rem;
        margin: 0 auto;
    }

    .below-fold-content p:first-of-type {
        margin: 2rem auto -2rem;
    }

    .below-fold-content p:last-of-type {
        padding-top: 0.5rem;
        padding-bottom: 2rem;
    }

    .below-fold-content .p-container {
        max-width: 50rem;
        margin-left: 4rem;
    }

    .below-fold-content img {
        max-width: 80%;
        height: auto;
        display: block;
        margin: 4rem -3rem -6rem;
    }
}

@media (min-width: 100em) {
    .below-fold-content h2 {
        margin-bottom: -5rem;
    }

    .below-fold-content p:last-of-type {
        padding-top: 1rem;
        padding-bottom: 0;
        margin-bottom: -1rem;
    }

    .below-fold-content svg.the-down-button {
        fill: var(--pink-darker2);
        width: 10rem;
        margin: 0 auto;
        text-align: center;
        display: block;
        transition: all 0.4s ease;
        animation: bounce 2s infinite;
    }

    @keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-30px);
        }
        60% {
            transform: translateY(-15px);
        }
    }

    .below-fold-content svg.the-down-button:hover {
        fill: var(--pink-dark2);
        animation: none;
    }
}

/* */ /* */ /* */ /* */ /* Index Page - Skills List & Sort */ /* */ /* */ /* */ /* */

.skills-list {
    scroll-margin-top: 5rem;
    margin: 0 auto;
    max-width: 120rem;
    min-height: min(55rem, 100vh);
    background-color: var(--brand-pink);
}

.skills-top-wrapper {
    background-color: #fee1eb;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 1080'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' y1='0' x2='1' y2='1'%3E%3Cstop offset='0' stop-color='%2309F'%3E%3Canimate attributeName='stop-color' values='%23FEDBE8%3B%23FEE1EB%3B%23FFFFFF%3B%23FEE9F1%3B%23FED6E4%3B%23FEDBE8' dur='10s' begin='-8' repeatCount='indefinite'%3E%3C/animate%3E%3C/stop%3E%3Cstop offset='1' stop-color='%2300F'%3E%3Canimate attributeName='stop-color' values='%23FEE1EB%3B%23FFFFFF%3B%23FEE9F1%3B%23FED6E4%3B%23FEDBE8%3B%23FEE1EB' dur='10s' begin='-1' repeatCount='indefinite'%3E%3C/animate%3E%3C/stop%3E%3CanimateTransform attributeName='gradientTransform' type='rotate' from='0 .5 .5' to='360 .5 .5' dur='10s' repeatCount='indefinite' /%3E%3C/linearGradient%3E%3CradialGradient id='b' r='0.9' cx='.5' cy='0' fr='.4' fx='.5'%3E%3Cstop offset='0' stop-color='%23FFF' stop-opacity='0'%3E%3Canimate attributeName='stop-color' values='%23FED6E4%3B%23FEDBE8%3B%23FEE1EB%3B%23FFFFFF%3B%23FEE9F1%3B%23FED6E4' dur='10s' begin='-6' repeatCount='indefinite'%3E%3C/animate%3E%3C/stop%3E%3Cstop offset='1' stop-color='%2300F' stop-opacity='.5'%3E%3Canimate attributeName='stop-color' values='%23FEE1EB%3B%23FFFFFF%3B%23FEE9F1%3B%23FED6E4%3B%23FEDBE8%3B%23FEE1EB' dur='10s' begin='-2' repeatCount='indefinite'%3E%3C/animate%3E%3C/stop%3E%3CanimateTransform attributeName='gradientTransform' type='rotate' values='360 .5 .5%3B0 .5 .5' dur='10s' repeatCount='indefinite' /%3E%3C/radialGradient%3E%3CradialGradient id='c' r='1' cx='.5' cy='.5' fr='.2' fx='0'%3E%3Cstop offset='0' stop-color='%2309F' stop-opacity='.5'%3E%3Canimate attributeName='stop-color' values='%23FEDBE8%3B%23FEE1EB%3B%23FFFFFF%3B%23FEDBE8%3B%23FFFFFF%3B%23FEDBE8%3B%23FED6E4%3B%23FEDBE8' dur='10s' repeatCount='indefinite'%3E%3C/animate%3E%3C/stop%3E%3Cstop offset='1' stop-color='%2309F' stop-opacity='0'%3E%3Canimate attributeName='stop-color' values='%23FEDBE8%3B%23FEE1EB%3B%23FFFFFF%3B%23FEDBE8%3B%23FFFFFF%3B%23FEDBE8%3B%23FED6E4%3B%23FEDBE8' dur='10s' repeatCount='indefinite'%3E%3C/animate%3E%3C/stop%3E%3CanimateTransform attributeName='gradientTransform' type='rotate' values='360 .5 .5%3B0 .5 .5' dur='10s' repeatCount='indefinite' /%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25' /%3E%3Crect fill='url(%23b)' width='100%25' height='100%25' /%3E%3Crect fill='url(%23c)' width='100%25' height='100%25' /%3E%3C/svg%3E");
    background-size: cover;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--pink-mid);
    padding: 1rem;
    margin-bottom: -1rem;
    border-top: 2px dashed var(--white);
}

.filter-buttons button {
    font-weight: 600;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    background-color: var(--purple-darker4);
    color: var(--white);
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
}

.filter-buttons button:hover,
.filter-buttons .active {
    background-color: var(--pink-lighter2);
    color: var(--purple-darker4);
}

.skills-list h2 {
    font-family: var(--large-heading-text);
    color: var(--purple-darker2);
    font-size: clamp(6rem, 8vw, 8rem);
    margin: 0 auto;
    text-shadow: var(--text-shadow);
    text-align: center;
    padding: 1rem;
}

.skills-list ul {
    display: grid;
    --auto-grid-min-size: 10rem;
    grid-template-columns: repeat(
        auto-fill,
        minmax(var(--auto-grid-min-size), 1fr)
    );
    grid-gap: 1rem;
    justify-content: center;
    align-content: center;
    padding: 2rem 6rem;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23FDC8DB'/%3E%3Cstop offset='1' stop-color='%23FDC8DB'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='15' height='15' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='7.5' cy='7.5' r='7.5'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.2'/%3E%3C/svg%3E");
    border: 2px dashed var(--white);
    min-height: 18rem;
    margin-bottom: 0;
}

.skills-list li {
    font-weight: 500;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-color: var(--pink-lighter5);
    border-radius: 1rem;
    padding: 0.25rem;
    box-shadow: 4px 4px 0px 0px var(--pink-darker), 5px 5px 4px 0px #987eb2;
    max-height: 4rem;
}

.skills-list svg {
    height: 3rem;
    width: 3rem;
    padding: 0 1rem 0 0;
}

.skills-top-svg {
    display: flex;
    justify-content: center;
}

.skills-top-svg svg {
    width: 90%;
    height: auto;
}

.skills-bottom-svg {
    background-color: var(--brand-pink);
    border-top: 5px solid var(--brand-pink);
    border-bottom: 5px solid var(--brand-pink);
}

.skills-bottom-svg svg {
    display: none;
}

@media (min-width: 40em) {
    .skills-list svg:first-of-type {
        max-width: 20rem;
    }

    .skills-top-svg svg {
        max-width: 50%;
        height: auto;
    }
}

@media (min-width: 100em) {
    .skills-bottom-svg svg.the-down-button {
        fill: var(--purple-darker2);
        width: 10rem;
        height: 10rem;
        margin: -10rem auto 0;
        text-align: center;
        display: block;
        transition: all 0.4s ease;
        animation: bounce 2s infinite;
    }

    @keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-30px);
        }
        60% {
            transform: translateY(-15px);
        }
    }

    .skills-bottom-svg svg.the-down-button:hover {
        fill: var(--purple-darker);
        animation: none;
    }
}

/* */ /* */ /* */ /* */ /* Index Page - Bottom Explore Part */ /* */ /* */ /* */ /* */

.bottom-content {
    scroll-margin-top: 6rem;
    background-color: #fee9f1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='129.7' height='389' viewBox='0 0 50 150'%3E%3Cg stroke='%23987EB2' stroke-width='4.5' %3E%3Cpolygon fill='%23FDC8DB' points='80 -30 -30 -30 -30 50 25 100 80 50'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: repeat-x;
    background-position: top center;
    max-width: 120rem;
    margin: 0 auto;
}

.bottom-content-wrapper {
    margin-top: 5rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.bottom-content article {
    background-color: var(--pink-lighter);
    max-width: 80%;
    border-radius: 1rem;
    margin: 1rem auto;
    padding: 0.75rem;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.1);
}

.bottom-content-top {
    height: 12rem;
    display: flex;
    align-items: center;
}

.bottom-content-top h2 {
    font-family: var(--large-heading-text);
    color: var(--purple-darker2);
    font-size: clamp(4rem, 6vw, 6rem);
    margin: 0 auto;
    text-shadow: var(--text-shadow);
    text-align: center;
    padding: 1rem;
}

.card-text-content {
    background-color: var(--brand-pink);
    border-radius: 0 0 0.75rem 0.75rem;
    padding-bottom: 1rem;
    border-bottom: 2px dashed var(--white);
    border-left: 2px dashed var(--white);
    border-right: 2px dashed var(--white);
}

.bottom-content h3 {
    background: linear-gradient(
        to right,
        var(--purple-darker3) 50%,
        var(--pink-lighter5) 50%
    );
    background-size: 250% 150%;
    background-position: right bottom;
    color: var(--pink-darker5);
    padding: 0.75rem 1rem;
    border-radius: 1rem;
    width: 60%;
    display: flex;
    justify-content: center;
    margin: 2rem auto 1rem;
    transition: all 0.4s ease-out;
    font-size: 1rem;
}

.bottom-content p {
    border-radius: 0.75rem;
    padding: 0 1rem 1rem;
    text-align: center;
    line-height: 0.5rem;
    font-size: 0.8rem;
}

.bottom-content h3:hover,
.bottom-content a:hover {
    background-position: left bottom;
    color: var(--pink-lighter5);
}

.bottom-content a {
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: var(--pink-darker5);
    display: flex;
    width: 100%;
    justify-content: center;
    transition: all 0.5s ease-out;
}

.bottom-content svg {
    max-width: 100%;
    background-color: var(--pink-lighter4);
    border-radius: 0.5rem 0.5rem 0 0;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-top: 2px dashed var(--white);
    border-left: 2px dashed var(--white);
    border-right: 2px dashed var(--white);
}

.bottom-content svg:last-child {
    box-shadow: none;
    border: none;
    background: none;
}

.overlay-card {
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--transparent-dark-purple);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: 0.3s ease;
    border-radius: 0.5rem 0.5rem 0 0;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 95%;
}

.overlay-text p.overlay-p {
    font-family: var(--large-heading-text);
    color: var(--purple-lighter);
    font-size: clamp(3rem, 4vw, 4rem);
    line-height: 4rem;
    margin: 0 auto;
    text-shadow: var(--text-shadow2);
    text-align: center;
    background: none;
    box-shadow: none;
}

.overlay-card:hover .overlay {
    transform: scale(1);
}

@media (min-width: 31.25em) {
    .bottom-content article {
        margin-top: 2rem;
    }
}

@media (min-width: 68.75em) {
    .main-card {
        max-width: 33%;
    }
}

@media (min-width: 80em) {
    .bottom-content h2 {
        text-shadow: var(--text-shadow);
        padding: 3rem;
    }

    .bottom-content article {
        margin-top: 2rem;
    }

    .bottom-content-wrapper {
        gap: 0;
    }

    .bottom-content svg {
        max-width: 28rem;
    }

    .bottom-content h3 {
        font-size: 1.1rem;
    }

    .bottom-content p {
        font-size: 0.95rem;
    }
}
