/* */ /* */ /* */ /* */ /* Index Page - Above Fold */ /* */ /* */ /* */ /* */
.main-content-and-footer {
    width: min(100vw, 120rem);
}

.index-page-header h1 {
    scroll-margin-top: 5rem;
    font-family: var(--heading-text);
    color: var(--black-ish);
    font-weight: bold;
    font-size: clamp(2rem, 4vw, 4rem);
    margin: 0 4rem;
    padding-top: 12rem;
    text-shadow: var(--text-shadow3);
    text-align: right;
    max-width: 100%;
    letter-spacing: 0.25rem;
}

.index-page-header h1 span.h1-part3 {
    font-family: var(--large-heading-text);
    font-size: clamp(4rem, 6vw, 6rem);
    color: var(--pink-mid4);
    animation: text-shimmer 4s infinite;
}

@keyframes text-shimmer {
    0% {
        color: var(--bright-pink);
    }

    50% {
        color: var(--pink-darker2);
    }

    100% {
        color: var(--bright-pink);
    }
}

.index-page-header h2 {
    margin: 1rem auto;
    padding: 2rem;
    display: block;
    width: 100%;
    text-align: right;
    font-family: var(--paragraph-text);
    letter-spacing: 0.5rem;
    color: var(--black-ish);
    font-weight: 300;
    font-size: clamp(1.25rem, 2vw, 2rem);
    line-height: 2rem;
    max-width: 100%;
    background-color: var(--transparent-white);
    border-radius: 0.5rem;
}

.index-top-wrapper {
    background-color: var(--transparent-white);
    background-image: url(../images/index-above-fold2.jpg);
    background-size: cover;
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-top: 1rem solid var(--white);
    border-right: 1rem solid var(--white);
    border-bottom: 1rem solid var(--white);
    height: 100dvh;
}

/*

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

*/

.arrows {
    width: 6.25rem;
    height: 6.25rem;
    position: relative;
    left: 50%;
    transition: all ease 0.3s;
}

.arrows path {
    stroke: var(--bright-pink);
    fill: transparent;
    stroke-width: 0.25rem;
    animation: arrow 3s infinite;
    -webkit-animation: arrow 3s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

/* */ /* */ /* */ /* */ /* Index Page - Below Fold */ /* */ /* */ /* */ /* */

.below-fold-content {
    height: 100dvh;
    border-top: 1rem solid var(--white);
    border-right: 1rem solid var(--white);
    border-bottom: 1rem solid var(--white);
    background-color: var(--transparent-pink);
    background-image: url(../images/welcome.jpg);
    background-size: cover;
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.below-fold-content h2 {
    font-family: var(--heading-text);
    color: var(--bright-pink);
    font-size: clamp(4rem, 8vw, 8rem);
    margin: 2rem 3rem 0 0;
    text-shadow: var(--text-shadow3);
    text-align: right;
    letter-spacing: 0.5rem;
}

.below-fold-content .p-container {
    background-color: var(--transparent-pink);
    max-width: 35rem;
    font-weight: 700;
    margin: 1rem 2rem 2rem;
    border-radius: 0.25rem;
    box-shadow: -1rem -1rem 0px 0px var(--transparent-white);
    border: 1px solid var(--transparent-white-2);
}

.below-fold-content p {
    padding: 2.5rem 2rem;
    margin: 0;
    font-size: 1.1rem;
    line-height: 2.5rem;
}

@media (min-width: 100em) {
    @keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-30px);
        }
        60% {
            transform: translateY(-15px);
        }
    }
}

/* */ /* */ /* */ /* */ /* Index Page - Skills List & Sort */ /* */ /* */ /* */ /* */

.skills-list {
    border: 1rem solid var(--white);
    background-color: var(--transparent-pink);
    background-image: url(../images/cute-background.jpg);
    background-size: cover;
    background-blend-mode: soft-light;
    margin: 0 auto;
    max-width: 120rem;
    height: 100dvh;
}

.skills-list h2 {
    font-family: var(--heading-text);
    color: var(--bright-pink);
    font-size: clamp(6rem, 8vw, 8rem);
    margin: 0 auto;
    text-shadow: var(--text-shadow3);
    text-align: center;
    padding: 1rem;
    letter-spacing: 0.25rem;
}

.skills-list ul {
    display: grid;
    --auto-grid-min-size: 10rem;
    grid-template-columns: repeat(
        auto-fill,
        minmax(var(--auto-grid-min-size), 1fr)
    );
    grid-gap: 1rem;
    justify-content: center;
    align-content: center;
    padding: 2rem 6rem;
    min-height: 18rem;
    margin-bottom: 0;
}

.skills-list li {
    font-weight: 500;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-color: var(--pink-lighter5);
    border-radius: 1rem;
    padding: 0.25rem;
    box-shadow: 4px 4px 0px 0px var(--pink-darker),
        5px 5px 4px 0px var(--pink-dark);
    max-height: 4rem;
}

.skills-list svg {
    height: 3rem;
    width: 3rem;
    padding: 0 1rem 0 0;
}

.skills-top-svg {
    display: flex;
    justify-content: center;
}

.skills-top-svg svg {
    width: 90%;
    height: auto;
}

@media (min-width: 40em) {
    .skills-list svg:first-of-type {
        max-width: 20rem;
    }

    .skills-top-svg svg {
        max-width: 50%;
        height: auto;
    }
}

@media (min-width: 100em) {
    @keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-30px);
        }
        60% {
            transform: translateY(-15px);
        }
    }
}

/* */ /* */ /* */ /* */ /* Index Page - Bottom Explore Part */ /* */ /* */ /* */ /* */

.bottom-and-footer {
    height: 100dvh;
    max-width: 120rem;
    margin: 0 auto;
    border-top: 1rem solid var(--white);
    border-right: 1rem solid var(--white);
    border-bottom: 1rem solid var(--white);
    background-color: var(--transparent-pink);
    background-image: url(../images/petals.jpeg);
    background-size: cover;
    background-blend-mode: soft-light;
    background-position: 100% 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom-content-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.bottom-content article {
    max-width: 85%;
    border-radius: 0.25rem;
    margin: 2rem auto 1rem;
    padding: 0.5rem;
    filter: grayscale(1);
    border-top: 1rem solid var(--white);
    border-left: 1rem solid var(--white);
    border-right: 1rem solid var(--white);
    border-bottom: 5rem solid var(--white);
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.1);
}

.bottom-content article.about-card {
    background-image: url(../images/about-me.jpg);
    background-size: cover;
    background-position: center;
}

.bottom-content article.projects-card {
    background-image: url(../images/my-projects.jpg);
    background-size: cover;
    background-position: center;
}

.bottom-content article.blog-card {
    background-image: url(../images/my-blog.jpg);
    background-size: cover;
    background-position: center;
}

.bottom-content article.contact-card {
    background-image: url(../images/contactme.jpg);
    background-size: cover;
    background-position: center;
}

.bottom-content-top h2 {
    font-family: var(--heading-text);
    color: var(--pink-dark2);
    font-size: clamp(4rem, 6vw, 6rem);
    letter-spacing: 0.25rem;
    margin: 1rem auto;
    text-shadow: var(--text-shadow3);
    text-align: center;
}

.card-text-content {
    position: relative;
    top: 9.5rem;
}

.bottom-content h3 {
    color: var(--black-ish);
    padding: 0.5rem 1rem 1rem;
    width: 100%;
    font-family: "Square Peg";
    display: flex;
    justify-content: center;
    margin: 2rem auto 1rem;
    transition: all 0.4s ease-out;
    font-weight: normal;
    font-size: 2.75rem;
}

.bottom-content p {
    border-radius: 0.75rem;
    padding: 0 1rem 1rem;
    text-align: center;
    line-height: 0.5rem;
    font-size: 0.8rem;
}

.bottom-content a {
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: var(--pink-darker5);
    display: flex;
    width: 100%;
    justify-content: center;
    transition: all 0.6s ease-out;
}

.bottom-content-wrapper .main-card article:hover {
    transform: translateY(-1rem) rotate(-5deg);
    transition: all 0.6s ease;
    box-shadow: 5px 5px 0px 0px var(--transparent-pink-2);
    filter: grayscale(0);

    h3 {
        color: var(--pink-mid4);
    }
}

.overlay-card {
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--transparent-dark-purple);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: 0.3s ease;
    border-radius: 0.5rem 0.5rem 0 0;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 95%;
}

.overlay-text p.overlay-p {
    font-family: var(--large-heading-text);
    color: var(--purple-lighter);
    font-size: clamp(3rem, 4vw, 4rem);
    line-height: 4rem;
    margin: 0 auto;
    text-shadow: var(--text-shadow2);
    text-align: center;
    background: none;
    box-shadow: none;
}

.overlay-card:hover .overlay {
    transform: scale(1);
}

@media (min-width: 31.25em) {
    .bottom-content article {
        margin-top: 2rem;
    }
}

@media (min-width: 68.75em) {
    .main-card {
        max-width: 25%;
    }
}

@media (min-width: 80em) {
    .bottom-content article {
        margin-top: 2rem;
    }

    .bottom-content-wrapper {
        gap: 0;
    }

    .bottom-content article {
        width: 22rem;
        height: 18rem;
    }
    .bottom-content p {
        font-size: 0.95rem;
    }
}
