/*-----------------------------------------------------------
    PROJECTS PAGE STYLES
-----------------------------------------------------------*/

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.bottom-git-wrapper {
    max-width: 35rem;
    text-align: center;
    background-color: var(--pink-lighter2);
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.1);
}

.bottom-git-wrapper a {
    background: linear-gradient(
        to right,
        var(--purple-darker3) 50%,
        var(--pink-lighter5) 50%
    );
    max-width: 12rem;
    background-size: 200% 100%;
    background-position: right bottom;
    color: var(--pink-darker5);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    display: flex;
    font-weight: 600;
    justify-content: center;
    margin: 1rem auto;
    border: 1px solid var(--pink-darker5);
    transition: all 0.5s ease-out;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
}

.bottom-git-wrapper a:hover {
    background-position: left bottom;
    color: var(--pink-lighter5);
}

.projects-page-wrapper h3 {
    text-align: center;
    display: block;
}

.projects-page-wrapper header {
    background-color: var(--pink-lighter2);
}

/*
img.polaroid {
    margin: 2rem auto;
    display: block;
}

img.polaroid-preview:hover {
    transform: rotate(-3.75deg);
    cursor: pointer;
}
*/

.my-project-info .bottom-git-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 24rem;
}

.my-project-info .bottom-git-wrapper a {
    width: 10rem;
}

a.bottom-projects {
    background-color: var(--purple-darker3);
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: center;
    width: 15rem;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    text-shadow: 1px 1px 0px var(--pink-darker7);
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

.thumbnail-size {
    max-width: min(10rem, 15vw);
}

.flex-container-fave {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

p.ongoing {
    text-align: center;
    font-size: 1.5rem;
}
a.bottom-projects:hover,
a.bottom-projects:active {
    background-color: var(--purple-darker5);
}

.showcased-projects {
    height: 100dvh;
    border-top: 1rem solid var(--white);
    border-right: 1rem solid var(--white);
    border-bottom: 1rem solid var(--white);
    background-color: var(--transparent-pink);
    background-image: url(../images/petals.jpeg);
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: 100% 0%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        font-size: clamp(2rem, 5vw, 5rem);
        margin: 1rem;
        color: var(--pink-dark2);
        letter-spacing: 0.25rem;
        text-shadow: var(--text-shadow3);
        text-align: center;
    }

    .swiper {
        width: min(55dvw, 65rem);
        height: 60dvh;
        padding: 5rem;

        .swiper-button-next,
        .swiper-button-prev {
            color: var(--pink-mid4);

            &:after {
                font-size: 4rem;
            }
        }

        .swiper-pagination-bullet {
            width: 1.5rem;
            height: 1.5rem;
            text-align: center;
            line-height: 1.5rem;
            font-size: 0.75rem;
            font-weight: bold;
            font-family: var(--paragraph-text);
            color: var(--white);
            text-shadow: var(--text-shadow3);
        }

        .swiper-pagination-bullet-active {
            background-color: var(--pink-mid4);
        }

        .swiper-slide {
            padding: 0;
            display: flex;
            align-items: center;
            position: relative;
            justify-content: center;

            article {
                width: clamp(14rem, 22vw, 28rem);
                height: clamp(10rem, 18vw, 24rem);
                padding: 0;
                margin: 0 0 6rem 0;
                transform: rotate(10deg);
                transition: all 0.6s ease-out;
                filter: grayscale(0.75);
                z-index: 1;

                figure {
                    border-top: 1rem solid var(--white);
                    border-left: 1rem solid var(--white);
                    border-right: 1rem solid var(--white);
                    border-bottom: 5rem solid var(--white);
                    border-radius: 0.15rem;
                    box-shadow: 0 0 0 1px var(--grey), var(--box-shadow);
                    width: 100%;
                    height: 90%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    margin: 0;

                    img {
                        object-fit: cover;
                        object-position: center;
                        border: 1px solid var(--grey);
                        height: 100%;
                        border-radius: 0.15rem;
                    }

                    figcaption {
                        position: absolute;
                        top: clamp(12rem, 17.25vw, 23rem);
                        display: none;
                        font-family: "Square Peg", serif;
                        font-size: 2.5rem;
                        color: var(--pink-mid4);
                        transition: all 0.6s ease-out;
                    }
                }
            }

            &:hover {
                z-index: 2;

                article {
                    filter: grayscale(0);

                    figure {
                        box-shadow: var(--box-shadow);
                        transform: rotate(-10deg) translateY(-1rem) scale(1.1);
                        transition: all 0.6s ease-out;
                        box-shadow: 0 0 0 1px var(--bright-pink),
                            var(--box-shadow);
                    }

                    figcaption {
                        display: block;
                    }
                }
            }
        }
    }
}

/*
.showcased-projects {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    text-align: center;
    gap: 2rem;
    margin: 4rem auto 4rem;
    padding-left: 1.5rem;
}
    */
/*

.showcased-projects img {
    max-width: 90%;
    display: block;
    margin: 0 auto;
    box-shadow: 3px 3px 2px 4px rgba(0, 0, 0, 0.1);
    transform: rotate(-5deg);
    border-radius: 0.25rem;
    transition: all ease 1.25s;
}

.showcased-projects .top-img {
    display: none;
    position: absolute;
}

.showcased-projects img:hover,
.showcased-projects img:active {
    transform: rotate(0deg);
    border: 1px solid var(--purple-darker2);
}
    */

.my-project-info {
    margin: 2rem auto;
    background-color: var(--pink-lighter4);
    border-radius: 1rem;
    padding: 1.5rem;
    max-width: 96%;
    border: 1px solid var(--purple-darker3);
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.1);
}

.my-project-info h2,
.my-project-info h3 {
    text-align: center;
    letter-spacing: 0.25rem;
    font-size: 2rem;
}

.my-project-info h2 {
    margin-top: 0;
    border-bottom: 2px solid var(--brand-purple);
}

.my-project-info h3:first-of-type {
    font-size: 0.8rem;
    letter-spacing: 0;
    background-image: linear-gradient(
        200deg,
        var(--pink-darker4),
        var(--purple-darker4)
    );
    color: var(--white);
    padding: 0.5rem 0.25rem;
    border-radius: 0.25rem;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.1);
}

@media (min-width: 35em) {
    .flex-container-fave {
        justify-content: space-between;
    }
}

@media (min-width: 43.75em) {
    /*
    .showcased-projects {
        position: relative;
        height: 25rem;
    }

    .showcased-projects a {
        display: inline-block;
    }

    .showcased-projects img {
        max-width: clamp(15rem, 25vw, 25rem);
        position: absolute;
    }

    .showcased-projects .abby {
        top: 5%;
        left: 55%;
        transform: translate(-50%, -50%);
        transform: rotate(-10deg);
        z-index: 2;
    }

    .showcased-projects .amazilia {
        top: 3%;
        left: 15%;
        transform: translate(-50%, -50%);
        transform: rotate(15deg);
        z-index: 3;
    }

    .showcased-projects .movies {
        top: 28%;
        left: 35%;
        transform: translate(-50%, -50%);
        transform: rotate(-15deg);
        z-index: 4;
    }

    .showcased-projects .bottom {
        z-index: 2;
        transition: transform 1.25s;
    }

    .showcased-projects .top-img {
        z-index: 1;
        transition: transform 1.25s;
    }

    .showcased-projects a:hover .bottom,
    .showcased-projects a:active .bottom {
        z-index: 1;
        opacity: 0;
        transition-delay: 0s;
    }

    .showcased-projects a:hover .bottom,
    .showcased-projects a:hover .top-img {
        transform: rotate(0deg);
    }

    .showcased-projects .top-img {
        display: block;
        z-index: 1;
    }

    .showcased-projects a:hover .top-img,
    .showcased-projects a:active .top-img {
        display: block;
        transform: rotate(0deg);
        z-index: 10;
    }

    .my-project-info {
        max-width: 38rem;
    }
        */
}

@media (min-width: 75em) {
    /*
    .showcased-projects {
        height: 35rem;
    }
        */
}

@media (min-width: 105em) {
    /*
    .showcased-projects {
        height: 40rem;
    }
    .showcased-projects img.abby {
        left: 56%;
    }

    .showcased-projects img.amazilia {
        left: 18%;
    }

    .showcased-projects img.movies {
        left: 38%;
    }
        */
}
