/* */ /* */ /* */ /* */ /* Site Header */ /* */ /* */ /* */ /* */

.site-header {
    transition: all ease 0.5s;
    padding: 0;
    width: 12rem;
    position: sticky;
    z-index: 9999;
    top: 0;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    height: 100dvh;
    justify-content: space-between;
}

.site-logo-div {
    margin: 0 1.25rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-logo-div img.site-logo {
    width: 10rem;
    height: auto;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 2rem;
    left: 0;
    opacity: 0.35;
    z-index: -1;
}

.site-logo-div p {
    position: relative;
    top: -4.5rem;
    font-family: var(--heading-text);
    font-weight: bold;
    font-size: 2rem;
}

.site-logo-div p:first-of-type {
    margin: 0.5rem auto 0;
    text-align: center;
    padding: 0.25rem 0 0;
}

.site-logo-div span.k-logo {
    color: var(--pink-dark2);
}

.site-logo-div p.small-web-dev {
    font-family: var(--paragraph-text);
    margin: -0.5rem auto 0;
    padding: 0;
    font-weight: 300;
    font-size: 0.65rem;
    text-align: center;
    letter-spacing: 0.25rem;
}

.main-navigation {
    letter-spacing: 0.15rem;
    padding: 0 0 2rem;
    color: black;
    font-family: var(--paragraph-text);
    font-size: clamp(1rem, 1.15vw, 1.15rem);
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.main-navigation ul {
    padding: 0 1rem 0 0;
    display: flex;
    flex-direction: column;
    width: 12rem;
    height: auto;
    position: relative;
}

.main-navigation ul li {
    list-style: none;
    display: block;
    margin: 1rem 0 0;
    padding: 0;
    text-align: right;
    letter-spacing: 0.25rem;
    font-weight: 400;
}

.main-navigation a {
    text-decoration: none;
    color: var(--black-ish);
}

.main-navigation ul li a {
    padding: 1rem;
    display: block;
    position: relative;
    z-index: 2;
    transition: all 0.4s ease;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        border-radius: 2rem;
        background: var(--transparent-pink-3);
        width: 3rem;
        height: 3rem;
        transition: all 0.6s ease;
        z-index: -1;
    }

    svg {
        position: relative;
        top: 0;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: var(--white);
        stroke-width: 2;
        transform: translateX(0);
        transition: all 0.6s ease;
    }

    &:hover {
        color: var(--white);
        letter-spacing: 0.35rem;
        &:before {
            width: 100%;
            background: var(--transparent-pink-4);
            border-radius: 0 2rem 2rem 0;
        }
        svg {
            transform: translateX(-1rem);
        }
    }

    &:active {
        transform: scale(0.96);
    }
}

/*
.main-navigation li a:hover {
    border-bottom: 0;
    color: var(--white);
    text-shadow: var(--text-shadow3);
}
.main-navigation li:first-child a {
    border-right: 0.35rem solid var(--light-pink);
}
.main-navigation li:nth-child(2) a {
    border-right: 0.35rem solid var(--medium-pink);
}
.main-navigation li:nth-child(3) a {
    border-right: 0.35rem solid var(--bright-pink);
}
.main-navigation li:nth-child(4) a {
    border-right: 0.35rem solid var(--pink-mid4);
}
.main-navigation li:last-child a {
    border-right: 0.35rem solid var(--pink-dark2);
}

.main-navigation li a:before {
    content: "";
    height: 100%;
    right: 0;
    top: 0;
    width: 0px;
    position: absolute;
    transition: all 0.4s ease 0s;
    z-index: -1;
}

.main-navigation li a:hover:before {
    width: 100%;
    border-radius: 2rem 0 0 2rem;
}

.main-navigation li:first-child a:before {
    background: var(--light-pink);
}
.main-navigation li:nth-child(2) a:before {
    background: var(--medium-pink);
}
.main-navigation li:nth-child(3) a:before {
    background: var(--bright-pink);
}
.main-navigation li:nth-child(4) a:before {
    background: var(--pink-mid4);
}
.main-navigation li:last-child a:before {
    background: var(--pink-dark2);
}
*/
