/* */ /* */ /* */ /* */ /* Site Header */ /* */ /* */ /* */ /* */

.site-header {
    transition: all ease 0.5s;
    padding: 0;
    width: 12rem;
    position: fixed;
    z-index: 9999;
    margin: 0 auto;
    top: 0;
    height: 100vh;
    background-color: var(--white);
}

.site-logo-div {
    margin: 0 1.25rem;
}

.site-logo-div img.site-logo {
    width: 10rem;
    height: auto;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 2rem;
    left: 0;
    opacity: 0.35;
    z-index: -1;
}

.site-logo-div p {
    position: relative;
    top: -4.5rem;
    font-family: var(--heading-text);
    font-weight: bold;
    font-size: 2rem;
}

.site-logo-div p:first-of-type {
    margin: 0.5rem auto 0;
    text-align: center;
    padding: 0.25rem 0 0;
}

.site-logo-div span.k-logo {
    color: var(--pink-dark2);
}

.site-logo-div p.small-web-dev {
    font-family: var(--paragraph-text);
    margin: -0.5rem auto 0;
    padding: 0;
    font-weight: 300;
    font-size: 0.65rem;
    text-align: center;
    letter-spacing: 0.25rem;
}

/* nav {
    float: none;
    clear: both;
    width: 30%;
    margin: 10% auto;
    background: #eee;
} */

/*
nav li {
    float: none;
    width: 100%;
}
    */
/*
nav li a {
    display: block;
    width: 100%;
    padding: 20px;
    border-left: 5px solid;
    position: relative;
    z-index: 2;
    text-decoration: none;
    color: #444;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
    */

.main-navigation {
    letter-spacing: 0.15rem;
    padding: 0;
    color: black;
    font-family: var(--paragraph-text);
    font-size: clamp(1rem, 1.15vw, 1.15rem);
    font-weight: 300;
}

.main-navigation ul {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    width: 12rem;
    margin: 5rem 0 2rem;
    height: 100vh;
    position: relative;
}

.main-navigation ul li {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    text-align: right;
    letter-spacing: 0.25rem;
    width: 100%;
}

.main-navigation a {
    text-decoration: none;
    color: var(--black-ish);
}

.main-navigation ul li a {
    padding: 1rem;
    display: block;
    width: 100%;
    position: relative;
    z-index: 2;
}

.main-navigation li a:hover {
    border-bottom: 0;
    color: var(--white);
    text-shadow: var(--text-shadow3);
}
.main-navigation li:first-child a {
    border-right: 0.35rem solid var(--light-pink);
}
.main-navigation li:nth-child(2) a {
    border-right: 0.35rem solid var(--medium-pink);
}
.main-navigation li:nth-child(3) a {
    border-right: 0.35rem solid var(--bright-pink);
}
.main-navigation li:nth-child(4) a {
    border-right: 0.35rem solid var(--pink-mid4);
}
.main-navigation li:last-child a {
    border-right: 0.35rem solid var(--pink-dark2);
}

.main-navigation li a:before {
    content: "";
    height: 100%;
    right: 0;
    top: 0;
    width: 0px;
    position: absolute;
    transition: all 0.4s ease 0s;
    z-index: -1;
}

.main-navigation li a:hover:before {
    width: 100%;
    border-radius: 2rem 0 0 2rem;
}

.main-navigation li:first-child a:before {
    background: var(--light-pink);
}
.main-navigation li:nth-child(2) a:before {
    background: var(--medium-pink);
}
.main-navigation li:nth-child(3) a:before {
    background: var(--bright-pink);
}
.main-navigation li:nth-child(4) a:before {
    background: var(--pink-mid4);
}
.main-navigation li:last-child a:before {
    background: var(--pink-dark2);
}
